<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bootsample.biz.file.mapper.IFileMapper">

    <insert id="insertFile" parameterType="com.example.bootsample.biz.file.model.FileDTO">
        INSERT
        INTO    OPT.FILE
                (
                  ORIGIN_NAME
                 ,STORED_NAME
                 ,FILE_SIZE
                 ,FILE_PATH
                 ,MEM_ID
                 ,FILE_TYPE
                 ,FILE_DESC
                )
        VALUES
               (
                 #{originName}
                ,#{storedName}
                ,#{fileSize}
                ,#{filePath}
                ,#{memId}
                ,#{fileType}
                ,#{fileDesc}
               )
    </insert>

    <update id="updateFile" parameterType="com.example.bootsample.biz.file.model.FileDTO">
        UPDATE  OPT.FILE
        SET     ORIGIN_NAME = #{originName}
               ,UPDATE_DATE = NOW()
        WHERE   FILE_NO = #{fileNo}
    </update>

    <select id="selectFile" parameterType="int" resultType="com.example.bootsample.biz.file.model.FileDTO">
        SELECT  ORIGIN_NAME
               ,STORED_NAME
               ,FILE_PATH
               ,FILE_TYPE
               ,FILE_DESC
        FROM    OPT.FILE
        WHERE   FILE_NO = #{fileNo}
    </select>

    <select id="selectFileList" parameterType="com.example.bootsample.biz.file.model.FileDTO" resultType="com.example.bootsample.biz.file.model.FileDTO">
        SELECT  FILE_NO
             ,  ORIGIN_NAME
             ,  STORED_NAME
             ,  FILE_SIZE
             ,  FILE_PATH
             ,  MEM_ID
             ,  FILE_TYPE
             ,  REG_DATE
             ,  DEL_YN
             ,  UPDATE_DATE
             ,  FILE_DESC
        FROM    OPT.FILE
        <where>
           AND DEL_YN = 'N'
           <if test="searchType != null and searchType != '' and searchType != 'all' and searchWord != null and searchWord != ''">
               AND ${searchType} = #{searchWord}
           </if>
        </where>
        ORDER BY REG_DATE DESC
        LIMIT #{startPage} , #{pageRange}
    </select>

    <select id="selectFileListCnt" parameterType="com.example.bootsample.biz.file.model.FileDTO" resultType="int">
        SELECT  COUNT(1) AS ttl
        FROM    OPT.FILE
        <where>
            AND DEL_YN = 'N'
            <if test="searchType != null and searchType != '' and searchType != 'all' and searchWord != null and searchWord != ''">
                AND ${searchType} = #{searchWord}
            </if>
        </where>
    </select>

</mapper>